.encadre {
    border: 1px solid black;
    border-radius: 10px;
    
}

h2 {
    text-align: center;
    margin-top: 20px!important;
    margin-bottom: 30px!important;
}

li {
    list-style-type: none;

}

h4 {
    margin-bottom: 20px!important;
}

.lignex {
    display: flex;
    justify-content: space-around;
}

.prix {
    margin-bottom: 0px!important;
}

.ligneQte {
    margin-top: -20px;
}